/*
One Dark theme The Lounge.
Based on the Zenburn theme for The Lounge by JP Smith
Color scheme based on the One Dark theme for iTerm by Nathan Buchar

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Alexandre Oliveira
GitHub: https://github.com/RockyTV
*/


/* irc colors
 * 0, white: #fff;
 * 1, black: #1e2127;
 * 2, blue: #61afef;
 * 4, green: #98c379;
 * 5, light red: #e06c75;
 * 6, brown: #e06c75;
 * 7, purple: #c678dd;
 * 8, orange: #d19a66;
 * 9, yellow: #d19a66;
 * 10, light green: #98c379;
 * 11, cyan: #56b6c2;
 * 12, light cyan: #56b6c2;
 * 13, light blue: #61afef;
 * 14, pink: #c678dd;
 * 15, grey: #5c6370
 * 16, light grey: #abb2bf;
 */

.irc-fg0 {
	color: #fff;
}

.irc-fg1 {
	color: #0C0D0F;
	/* black with 6% brightness */
}

.irc-fg2 {
	color: #4F8EC2;
	/* blue with 76% brightness */
}

.irc-fg3 {
	color: #81A667;
	/* green with 65% brightness */
}

.irc-fg4 {
	color: #FF7A85;
	/* red with 100% brightness */
}

.irc-fg5 {
	color: #d4666f;
	/* red with 83% brightness */
}

.irc-fg6 {
	color: #c678dd;
}

.irc-fg7 {
	color: #d19a66;
}

.irc-fg8 {
	color: #D1BC66;
}

.irc-fg9 {
	color: #98c379;
}

.irc-fg10 {
	color: #4A9DA8;
	/* cyan with 66% brightness */
}

.irc-fg11 {
	color: #56b6c2;
}

.irc-fg12 {
	color: #5AA1DB;
	/* blue with 86% brightness */
}

.irc-fg13 {
	color: #E48AFF;
	/* purple with 100% brightness */
}

.irc-fg14 {
	color: #808A9C;
	/* grey with 61% brightness */
}

.irc-fg15 {
	color: #C3CBD9;
	/* light grey with 85% brightness */
}

.irc-bg0 {
	background: #fff;
}

.irc-bg1 {
	background: #0C0D0F;
	/* black with 6% brightness */
}

.irc-bg2 {
	background: #4F8EC2;
	/* blue with 76% brightness */
}

.irc-bg3 {
	background: #81A667;
	/* green with 65% brightness */
}

.irc-bg4 {
	background: #FF7A85;
	/* red with 100% brightness */
}

.irc-bg5 {
	background: #d4666f;
	/* red with 83% brightness */
}

.irc-bg6 {
	background: #c678dd;
}

.irc-bg7 {
	background: #d19a66;
}

.irc-bg8 {
	background: #D1BC66;
}

.irc-bg9 {
	background: #98c379;
}

.irc-bg10 {
	background: #4A9DA8;
	/* cyan with 66% brightness */
}

.irc-bg11 {
	background: #56b6c2;
}

.irc-bg12 {
	background: #5AA1DB;
	/* blue with 86% brightness */
}

.irc-bg13 {
	background: #E48AFF;
	/* purple with 100% brightness */
}

.irc-bg14 {
	background: #808A9C;
	/* grey with 61% brightness */
}

.irc-bg15 {
	background: #C3CBD9;
	/* light grey with 85% brightness */
}

body {
	background: #1a1c21;
	color: #abb2bf;
}

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #1e2127;
}

#windows .window::before {
	display: none;
}

#settings,
#sign-in,
#connect .title {
	color: #98c739;
}

#settings,
#sign-in,
#connect .opt {
	color: #abb2bf;
}

a:hover,
a:focus {
	color: #589DD6;
	/* blue with 84% brightness */
}

#settings a,
.btn {
	color: #98c739;
}

.btn {
	border-color: #98c739;
}

.btn:hover {
	background: #98c739;
	color: #434852;
	/* grey with 32% brightness */
}

#sidebar {
	background: #1e2127;
}

#settings a:hover,
#settings a:focus,
#sidebar .chan:first-child {
	color: #84AD32;
	/* green with 84% brightness */
}

#sidebar .chan:first-child:hover,
#sidebar .chan:first-child.active {
	color: #98c739;
}

#sidebar button,
#sidebar .chan,
#sidebar .sign-out,
#sidebar .empty {
	color: #abb2bf;
}

#sidebar button:hover,
#sidebar .chan:hover,
#sidebar .active {
	color: #CFD7E6;
	/* light-grey with 90% brightness */
}

#sidebar .badge {
	background-color: #1a1c21;
	/* background with 13% brightness */
	color: #abb2bf;
}

#sidebar .chan .name::after {
	background: linear-gradient(to right, rgba(30, 33, 39, 0) 0%, rgba(30, 33, 39, 1) 100%);
}

#footer {
	background: #1A1C21;
	/* background with 13% brightness */
	border-top: 1px solid #1a1c21;
}

#chat .count {
	background-color: #1e2127;
	color: #abb2bf;
}

#chat .search {
	color: #98c739;
	padding: 15px 16px;
}


/* Borders */

#chat .from,
#windows .header,
#chat .user-mode::before,
#chat .sidebar {
	border-color: #1a1c21;
}


/* Topic */

#windows .header {
	background: #1a1c21;
}

#windows .header .title,
#windows .header .topic {
	color: #959BA6;
}


/* User list */

#chat .user-mode+.user-mode {
	padding-top: 1rem;
}

#chat .user-mode::before {
	display: none;
}


/* Nicknames */

#chat .user {
	color: #c678dd;
}


/* light-red */

#chat.colored-nicks .user.color-1,
#chat.colored-nicks .user.color-17 {
	color: #E06C75;
}


/* purple */

#chat.colored-nicks .user.color-2,
#chat.colored-nicks .user.color-18 {
	color: #C678DD;
}


/* orange */

#chat.colored-nicks .user.color-3,
#chat.colored-nicks .user.color-19 {
	color: #d19a66;
}


/* yellow */

#chat.colored-nicks .user.color-4,
#chat.colored-nicks .user.color-20 {
	color: #d19a66;
}


/* also yellow */

#chat.colored-nicks .user.color-5,
#chat.colored-nicks .user.color-21 {
	color: #d19a66;
}


/* also orange */

#chat.colored-nicks .user.color-6,
#chat.colored-nicks .user.color-22 {
	color: #d19a66;
}


/* green */

#chat.colored-nicks .user.color-7,
#chat.colored-nicks .user.color-23 {
	color: #98c379;
}


/* light-green */

#chat.colored-nicks .user.color-8,
#chat.colored-nicks .user.color-24 {
	color: #98c379;
}


/* cyan */

#chat.colored-nicks .user.color-9,
#chat.colored-nicks .user.color-25 {
	color: #56b6c2;
}


/* light-cyan */

#chat.colored-nicks .user.color-10,
#chat.colored-nicks .user.color-26 {
	color: #56b6c2;
}


/* blue */

#chat.colored-nicks .user.color-11,
#chat.colored-nicks .user.color-27 {
	color: #61afef;
}


/* light-blue */

#chat.colored-nicks .user.color-12,
#chat.colored-nicks .user.color-28 {
	color: #61afef;
}


/* purple */

#chat.colored-nicks .user.color-13,
#chat.colored-nicks .user.color-29 {
	color: #c678dd;
}


/* pink */

#chat.colored-nicks .user.color-14,
#chat.colored-nicks .user.color-30 {
	color: #c678dd
}


/* another orange */

#chat.colored-nicks .user.color-15,
#chat.colored-nicks .user.color-31 {
	color: #d19a66;
}


/* another also orange */

#chat.colored-nicks .user.color-16,
#chat.colored-nicks .user.color-32 {
	color: #d19a66;
}

#chat a {
	color: #61afef;
}


/* Message form */

#form {
	background: #1A1C21;
	border-color: #1A1C21;
	/* background with 13% brightness */
	padding-top: 6px;
}

#windows #form .input {
	background-color: #1a1c21 !important;
	border: none;
	color: #abb2bf !important;
}

#form #nick {
	background: #1A1C21;
	/* background with 13% brightness */
	color: #abb2bf;
}

#form #submit:hover {
	opacity: 1;
}


/* Buttons */

#chat .show-more-button {
	background: #1a1c21;
	/* background with 13% brightness */
	border-color: #1A1C21;
	/* background with 13% brightness */
	color: #abb2bf;
}

#chat .show-more-button:hover {
	/*color: #fff;*/
	background: #1e2127;
}

#chat .header {
	color: #5c6370;
}


/* Notification dot on the top right corner of the menu icon */

#viewport .lt::after {
	border-color: #1e2127;
}

#chat .unread-marker::before {
	border-color: #FA7883;
	/* red with 98% brightness */
}

#chat .unread-marker-text::before {
	background-color: #1e2127;
	color: #FA7883;
	/* red with 98% brightness */
}

#chat .date-marker::before {
	border-color: #98c739;
	/* green with 88% brightness */
}

#chat .date-marker-text::before {
	background-color: #1e2127;
	color: #98c739;
	/* green with 88% brightness */
}


/* Setup text colors */

#chat .msg {
	color: #abb2bf;
}

#chat .message {
	color: #abb2bf;
}

#chat .self .text {
	color: #C3CBD9;
	/* fg color, brightness to 85% */
}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from,
#chat .channel .highlight .text {
	color: #B8875A;
	/* orange with 72% brightness */
}

#chat .unhandled .from {
	color: #aaa;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #bc6c9c !important;
}

#chat .msg.topic {
	color: #abb2bf;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #56b6c2 !important;
}

#chat table.channel-list td {
	color: #ccc;
}


/* Previews */

#chat .toggle-content {
	background: #1e2127;
	color: #abb2bf;
}

#chat .toggle-content .body {
	color: #5c6370;
}


/* Form elements */

#chat-container ::-moz-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

#chat-container ::-webkit-input-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

#chat-container :-ms-input-placeholder {
	color: rgba(170, 177, 191, 0.6);
}


/* End form elements */

@media (min-width: 480px) {
	#chat .from::after {
		background: linear-gradient(to right, rgba(30, 33, 39, 0.5) 0%, rgba(30, 33, 39, 1) 100%);
	}
}


/* Modifications */


/* <nick> */

.messages .from .user::before {
	color: #5c6370;
	opacity: .3;
	content: "<";
}

.messages .from .user::after {
	color: #5c6370;
	opacity: .3;
	content: ">";
}


/* correct color for icons */

#chat .invite .from::before,
#chat .topic .from::before,
#chat .mode .from::before,
#chat .whois .from::before,
#chat .nick .from::before,
#chat .join .from::before {
	color: #98c739;
}

#chat .quit .from::before,
#chat .part .from::before,
#chat .kick .from::before {
	color: #E06C75;
}


/* Condensed status messages */

#chat .condensed .content,
#chat .away .content,
#chat .back .content,
#chat .join .content,
#chat .kick .content,
#chat .mode .content,
#chat .nick .content,
#chat .part .content,
#chat .quit .content,
#chat .topic .content,
#chat .topic_set_by .content {
	color: #808897;
}


/* Actions */

#chat .action .from,
#chat .action .text,
#chat .action .user {
	color: #B8875A;
}


/* Notices */

#chat .notice .time,
#chat .notice .text,
#chat .chan .notice .user {
	color: #d4666f !important;
}

#chat .notice .user::before {
	color: #5c6370;
	opacity: .3;
	content: "\2013";
}

#chat .notice .user::after {
	color: #5c6370;
	opacity: .3;
	content: "\2013";
}


/* Context Menu */

#context-menu,
.textcomplete-menu {
	background-color: #1a1c21;
}

.context-menu-item:hover,
.textcomplete-item:hover,
.textcomplete-menu .active {
	background-color: #1e2127;
	color: #98c739 !important;
}

.textcomplete-menu .active a {
	color: #98c739;
}

.context-menu-item,
.textcomplete-item,
.textcomplete-item a {
	color: #abb2bf;
}


/* Scrollbar */

::-webkit-scrollbar {
	background-color: rgba(20, 22, 26, 0);
}

::-webkit-scrollbar:hover {
	background-color: rgba(20, 22, 26, 0.3);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(20, 22, 26, 0.5);
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(20, 22, 26, 0.6);
}


/* Font size */

.messages .msg {
	font-size: 13px;
}