/*
One Dark theme The Lounge.
Based on the Zenburn theme for The Lounge by JP Smith
Color scheme based on the One Dark theme for iTerm by Nathan Buchar

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Alexandre Oliveira
GitHub: https://github.com/RockyTV
*/

@import 'default.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

:root {
	--body-color: #abb2bf; /* main text color */
	--body-color-muted: #C3CBD9; /* secondary text color */
	--date-marker-color: #98c739; /* date marker, text and separator */
	--link-color: #61afef; /* links */
	--button-color: #98c739; /* buttons */

	--unread-marker-color: #d19a66; /* unread marker, text and separator */
	--highlight-border-color: #d19a66; /* highlighted messages border */

	--status-text-color: #808897; /* status messages */

	--error-color: #e06c75;
	--green-color: #98c739;

	--body-bg-color: #1a1c21; /* main background */
	--window-bg-color: #1e2127; /* window background */
	--highlight-bg-color: #252830; /* highlighted messages background */
}

/* irc colors
 * 0, white: #fff;
 * 1, black: #1e2127;
 * 2, blue: #61afef;
 * 4, green: #98c379;
 * 5, light red: #e06c75;
 * 6, brown: #e06c75;
 * 7, purple: #c678dd;
 * 8, orange: #d19a66;
 * 9, yellow: #d19a66;
 * 10, light green: #98c379;
 * 11, cyan: #56b6c2;
 * 12, light cyan: #56b6c2;
 * 13, light blue: #61afef;
 * 14, pink: #c678dd;
 * 15, grey: #5c6370
 * 16, light grey: #abb2bf;
 */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');
body {
	font-family: 'IBM Plex Sans', sans-serif;
}

.irc-fg0 {
	color: #fff;
}

.irc-fg1 {
	color: #0C0D0F;
	/* black with 6% brightness */
}

.irc-fg2 {
	color: #4F8EC2;
	/* blue with 76% brightness */
}

.irc-fg3 {
	color: #81A667;
	/* green with 65% brightness */
}

.irc-fg4 {
	color: #FF7A85;
	/* red with 100% brightness */
}

.irc-fg5 {
	color: #d4666f;
	/* red with 83% brightness */
}

.irc-fg6 {
	color: #c678dd;
}

.irc-fg7 {
	color: #d19a66;
}

.irc-fg8 {
	color: #D1BC66;
}

.irc-fg9 {
	color: #98c379;
}

.irc-fg10 {
	color: #4A9DA8;
	/* cyan with 66% brightness */
}

.irc-fg11 {
	color: #56b6c2;
}

.irc-fg12 {
	color: #5AA1DB;
	/* blue with 86% brightness */
}

.irc-fg13 {
	color: #E48AFF;
	/* purple with 100% brightness */
}

.irc-fg14 {
	color: #808A9C;
	/* grey with 61% brightness */
}

.irc-fg15 {
	color: #C3CBD9;
	/* light grey with 85% brightness */
}

.irc-bg0 {
	background: #fff;
}

.irc-bg1 {
	background: #0C0D0F;
	/* black with 6% brightness */
}

.irc-bg2 {
	background: #4F8EC2;
	/* blue with 76% brightness */
}

.irc-bg3 {
	background: #81A667;
	/* green with 65% brightness */
}

.irc-bg4 {
	background: #FF7A85;
	/* red with 100% brightness */
}

.irc-bg5 {
	background: #d4666f;
	/* red with 83% brightness */
}

.irc-bg6 {
	background: #c678dd;
}

.irc-bg7 {
	background: #d19a66;
}

.irc-bg8 {
	background: #D1BC66;
}

.irc-bg9 {
	background: #98c379;
}

.irc-bg10 {
	background: #4A9DA8;
	/* cyan with 66% brightness */
}

.irc-bg11 {
	background: #56b6c2;
}

.irc-bg12 {
	background: #5AA1DB;
	/* blue with 86% brightness */
}

.irc-bg13 {
	background: #E48AFF;
	/* purple with 100% brightness */
}

.irc-bg14 {
	background: #808A9C;
	/* grey with 61% brightness */
}

.irc-bg15 {
	background: #C3CBD9;
	/* light grey with 85% brightness */
}

/* Main changes */
#chat .content,
#chat .channel .message.highlight .content {
	border-left-color: var(--body-bg-color);
}

#chat .channel .message.highlight .time {
	color: var(--body-color-muted);
}

/* Remove channel roles headings from user list */
#chat .user-mode::before {
	display: none;
}

/* Borders */
#chat .content,
#windows #chat .header,
#chat .user-mode::before,
#chat .userlist {
	border-color: var(--body-bg-color);
}

/* Inputs */
input,
.input,
.input:hover,
#form,
#chat .userlist .search {
	color: var(--body-color);
	background-color: var(--window-bg-color);
	border-color: var(--body-bg-color) !important;
}

/* Form elements */

#chat-container ::-moz-placeholder,
::-moz-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

#chat-container ::-webkit-input-placeholder,
::-webkit-input-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

#chat-container :-ms-input-placeholder,
:-ms-input-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

/* Unread messages count badge */
#sidebar .badge.highlight {
	background-color: var(--highlight-border-color);
	color: var(--body-bg-color);
}

#sidebar .badge {
	background-color: var(--highlight-bg-color);
	color: var(--body-color);
}

/* Condensed status messages */
#chat .away .content, 
#chat .back .content, 
#chat .condensed .content, 
#chat .join .content, 
#chat .kick .content, 
#chat .mode .content, 
#chat .nick .content, 
#chat .part .content, 
#chat .quit .content, 
#chat .topic .content, 
#chat .topic_set_by .content {
	color: var(--status-text-color);
}

/* MOTD and code blocks */
#chat .msg.motd .text {
	background-color: var(--body-bg-color);
}

.irc-monospace, code {
	background-color: var(--body-bg-color);
	color: var(--status-text-color);
}

.irc-monospace,
code,
#chat .msg.motd .text {
	font-family: 'IBM Plex Mono', monospace;
}

/* Footer */
#footer button {
	color: var(--body-color);
}

/* Sidebar/footer on hover */
#sidebar .chan:hover,
#footer button:hover {
	background-color: rgba(37, 40, 48, 0.5); /*highlight bg 50% alpha*/
	color: var(--body-color-muted);
}

/* Sidebar active elements */
#sidebar .active,
#sidebar .active:hover {
	background-color: var(--highlight-bg-color);
	color: var(--body-color-muted);
}

/* Context menu */
#context-menu,
.textcomplete-menu {
	background-color: var(--window-bg-color);
}

.context-menu-item,
.textcomplete-item,
.textcomplete-item a {
	color: var(--body-color);
}

.context-menu-divider {
	/*50% body bg color*/
	color: rgba(26, 28, 33, 0.5);
}

.context-menu-item:focus,
.textcomplete-item:focus,
.textcomplete-item a:focus,
.context-menu-item:hover,
.textcomplete-item:hover,
.textcomplete-item a:hover,
.textcomplete-menu .active,
#chat .userlist .user.active {
	background-color: var(--highlight-bg-color); /*highlight bg 50% alpha*/
	color: var(--button-color);
}

/* Error */
#chat .error,
#chat .error .from,
#chat .part .from::before,
#chat .quit .from::before {
	color: var(--error-color);
}

/* Icons */
#chat .join .from::before {
	color: var(--green-color);
}

#chat .count::before {
	color: var(--body-color);
}


/* Nicknames */

#chat .user {
	color: #c678dd;
}


/* light-red */

#chat.colored-nicks .user.color-1,
#chat.colored-nicks .user.color-17 {
	color: #E06C75;
}


/* purple */

#chat.colored-nicks .user.color-2,
#chat.colored-nicks .user.color-18 {
	color: #C678DD;
}


/* orange */

#chat.colored-nicks .user.color-3,
#chat.colored-nicks .user.color-19 {
	color: #d19a66;
}


/* yellow */

#chat.colored-nicks .user.color-4,
#chat.colored-nicks .user.color-20 {
	color: #d19a66;
}


/* also yellow */

#chat.colored-nicks .user.color-5,
#chat.colored-nicks .user.color-21 {
	color: #d19a66;
}


/* also orange */

#chat.colored-nicks .user.color-6,
#chat.colored-nicks .user.color-22 {
	color: #d19a66;
}


/* green */

#chat.colored-nicks .user.color-7,
#chat.colored-nicks .user.color-23 {
	color: #98c379;
}


/* light-green */

#chat.colored-nicks .user.color-8,
#chat.colored-nicks .user.color-24 {
	color: #98c379;
}


/* cyan */

#chat.colored-nicks .user.color-9,
#chat.colored-nicks .user.color-25 {
	color: #56b6c2;
}


/* light-cyan */

#chat.colored-nicks .user.color-10,
#chat.colored-nicks .user.color-26 {
	color: #56b6c2;
}


/* blue */

#chat.colored-nicks .user.color-11,
#chat.colored-nicks .user.color-27 {
	color: #61afef;
}


/* light-blue */

#chat.colored-nicks .user.color-12,
#chat.colored-nicks .user.color-28 {
	color: #61afef;
}


/* purple */

#chat.colored-nicks .user.color-13,
#chat.colored-nicks .user.color-29 {
	color: #c678dd;
}


/* pink */

#chat.colored-nicks .user.color-14,
#chat.colored-nicks .user.color-30 {
	color: #c678dd
}


/* another orange */

#chat.colored-nicks .user.color-15,
#chat.colored-nicks .user.color-31 {
	color: #d19a66;
}


/* another also orange */

#chat.colored-nicks .user.color-16,
#chat.colored-nicks .user.color-32 {
	color: #d19a66;
}