/*
One Dark theme The Lounge.
Based on the Zenburn theme for The Lounge by JP Smith
Color scheme based on the One Dark theme for iTerm by Nathan Buchar

Installation instructions can be found here
https://thelounge.github.io/docs/server/configuration.html#theme

Author: Alexandre Oliveira
GitHub: https://github.com/RockyTV
*/


/* irc colors
 * 0, white: #fff;
 * 1, black: #1e2127;
 * 2, blue: #61afef;
 * 4, green: #98c379;
 * 5, light red: #e06c75;
 * 6, brown: #e06c75;
 * 7, purple: #c678dd;
 * 8, orange: #d19a66;
 * 9, yellow: #d19a66;
 * 10, light green: #98c379;
 * 11, cyan: #56b6c2;
 * 12, light cyan: #56b6c2;
 * 13, light blue: #61afef;
 * 14, pink: #c678dd;
 * 15, grey: #5c6370
 * 16, light grey: #abb2bf;
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: 'Open Sans', sans-serif;
}

.irc-fg0 {
	color: #fff;
}

.irc-fg1 {
	color: #0C0D0F;
	/* black with 6% brightness */
}

.irc-fg2 {
	color: #4F8EC2;
	/* blue with 76% brightness */
}

.irc-fg3 {
	color: #81A667;
	/* green with 65% brightness */
}

.irc-fg4 {
	color: #FF7A85;
	/* red with 100% brightness */
}

.irc-fg5 {
	color: #d4666f;
	/* red with 83% brightness */
}

.irc-fg6 {
	color: #c678dd;
}

.irc-fg7 {
	color: #d19a66;
}

.irc-fg8 {
	color: #D1BC66;
}

.irc-fg9 {
	color: #98c379;
}

.irc-fg10 {
	color: #4A9DA8;
	/* cyan with 66% brightness */
}

.irc-fg11 {
	color: #56b6c2;
}

.irc-fg12 {
	color: #5AA1DB;
	/* blue with 86% brightness */
}

.irc-fg13 {
	color: #E48AFF;
	/* purple with 100% brightness */
}

.irc-fg14 {
	color: #808A9C;
	/* grey with 61% brightness */
}

.irc-fg15 {
	color: #C3CBD9;
	/* light grey with 85% brightness */
}

.irc-bg0 {
	background: #fff;
}

.irc-bg1 {
	background: #0C0D0F;
	/* black with 6% brightness */
}

.irc-bg2 {
	background: #4F8EC2;
	/* blue with 76% brightness */
}

.irc-bg3 {
	background: #81A667;
	/* green with 65% brightness */
}

.irc-bg4 {
	background: #FF7A85;
	/* red with 100% brightness */
}

.irc-bg5 {
	background: #d4666f;
	/* red with 83% brightness */
}

.irc-bg6 {
	background: #c678dd;
}

.irc-bg7 {
	background: #d19a66;
}

.irc-bg8 {
	background: #D1BC66;
}

.irc-bg9 {
	background: #98c379;
}

.irc-bg10 {
	background: #4A9DA8;
	/* cyan with 66% brightness */
}

.irc-bg11 {
	background: #56b6c2;
}

.irc-bg12 {
	background: #5AA1DB;
	/* blue with 86% brightness */
}

.irc-bg13 {
	background: #E48AFF;
	/* purple with 100% brightness */
}

.irc-bg14 {
	background: #808A9C;
	/* grey with 61% brightness */
}

.irc-bg15 {
	background: #C3CBD9;
	/* light grey with 85% brightness */
}

body {
	background: #1a1c21;
	color: #abb2bf;
}

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #1e2127;
}

#windows .window::before {
	display: none;
}

#settings,
#sign-in,
#connect .title {
	color: #98c739;
}

#settings,
#sign-in,
#connect .opt {
	color: #abb2bf;
}

a:hover,
a:focus {
	color: #589DD6;
	/* blue with 84% brightness */
}

#settings a,
.btn {
	color: #98c739;
}

.btn {
	border-color: #98c739;
}

.btn:hover {
	background: #98c739;
	color: #434852;
	/* grey with 32% brightness */
}

#sidebar {
	background: #1e2127;
}

#settings a:hover,
#settings a:focus,
#sidebar .chan:first-child {
	color: #84AD32;
	/* green with 84% brightness */
}

#sidebar .chan:first-child:hover,
#sidebar .chan:first-child.active {
	color: #98c739;
}

#sidebar button,
#sidebar .chan,
#sidebar .sign-out,
#sidebar .empty {
	color: #abb2bf;
}

#sidebar .chan:hover,
#sidebar .active {
	color: #CFD7E6;
	/* light-grey with 90% brightness */
	background-color: #1a1c21;
	/* background with 13% brightness */
}

#sidebar button:hover,
#sidebar .chan.active .close:hover {
	color: #cfd7e6;
	background-color: #1a1c21;
}

#sidebar .close {
	border-radius: 0;
}

#sidebar .badge {
	background-color: #272B33;
	/* background with 20% brightness */
	color: #abb2bf;
}

#sidebar .chan .name::after {
	background: linear-gradient(to right, rgba(30, 33, 39, 0) 0%, rgba(30, 33, 39, 1) 100%);
}

#sidebar .chan:hover .name::after,
#sidebar .chan.active .name::after {
	background: linear-gradient(to right, rgba(26, 28, 33, 0) 0%, rgba(26, 28, 33, 1) 100%);
}

#footer {
	background: #1A1C21;
	/* background with 13% brightness */
	border-top: 1px solid #1a1c21;
}

#chat .count {
	background-color: #1e2127;
	color: #abb2bf;
}

#chat .search {
	color: #98c739;
	padding: 15px 16px;
}


/* Borders */

#chat .from,
#windows .header,
#chat .user-mode::before,
#chat .sidebar {
	border-color: #1a1c21;
}


/* Topic */

#windows .header {
	background: #1a1c21;
}

#windows .header .title,
#windows .header .topic {
	color: #959BA6;
}


/* User list */

#chat .user-mode+.user-mode {
	padding-top: 1rem;
}

#chat .user-mode::before {
	display: none;
}


/* Nicknames */

#chat .user {
	color: #c678dd;
}


/* light-red */

#chat.colored-nicks .user.color-1,
#chat.colored-nicks .user.color-17 {
	color: #E06C75;
}


/* purple */

#chat.colored-nicks .user.color-2,
#chat.colored-nicks .user.color-18 {
	color: #C678DD;
}


/* orange */

#chat.colored-nicks .user.color-3,
#chat.colored-nicks .user.color-19 {
	color: #d19a66;
}


/* yellow */

#chat.colored-nicks .user.color-4,
#chat.colored-nicks .user.color-20 {
	color: #d19a66;
}


/* also yellow */

#chat.colored-nicks .user.color-5,
#chat.colored-nicks .user.color-21 {
	color: #d19a66;
}


/* also orange */

#chat.colored-nicks .user.color-6,
#chat.colored-nicks .user.color-22 {
	color: #d19a66;
}


/* green */

#chat.colored-nicks .user.color-7,
#chat.colored-nicks .user.color-23 {
	color: #98c379;
}


/* light-green */

#chat.colored-nicks .user.color-8,
#chat.colored-nicks .user.color-24 {
	color: #98c379;
}


/* cyan */

#chat.colored-nicks .user.color-9,
#chat.colored-nicks .user.color-25 {
	color: #56b6c2;
}


/* light-cyan */

#chat.colored-nicks .user.color-10,
#chat.colored-nicks .user.color-26 {
	color: #56b6c2;
}


/* blue */

#chat.colored-nicks .user.color-11,
#chat.colored-nicks .user.color-27 {
	color: #61afef;
}


/* light-blue */

#chat.colored-nicks .user.color-12,
#chat.colored-nicks .user.color-28 {
	color: #61afef;
}


/* purple */

#chat.colored-nicks .user.color-13,
#chat.colored-nicks .user.color-29 {
	color: #c678dd;
}


/* pink */

#chat.colored-nicks .user.color-14,
#chat.colored-nicks .user.color-30 {
	color: #c678dd
}


/* another orange */

#chat.colored-nicks .user.color-15,
#chat.colored-nicks .user.color-31 {
	color: #d19a66;
}


/* another also orange */

#chat.colored-nicks .user.color-16,
#chat.colored-nicks .user.color-32 {
	color: #d19a66;
}

#chat a {
	color: #61afef;
}


/* Message form */

#form {
	background: #1A1C21;
	border-color: #1A1C21;
	/* background with 13% brightness */
	padding-top: 6px;
}

#windows #form .input {
	background-color: #1a1c21 !important;
	border: none;
	color: #abb2bf !important;
}

#form #nick {
	background: #1A1C21;
	/* background with 13% brightness */
	color: #abb2bf;
}

#form #submit:hover {
	opacity: 1;
}


/* Buttons */

#chat .show-more-button {
	background: #1a1c21;
	/* background with 13% brightness */
	border-color: #1A1C21;
	/* background with 13% brightness */
	color: #abb2bf;
}

#chat .show-more-button:hover {
	/*color: #fff;*/
	background: #1e2127;
}

#chat .header {
	color: #5c6370;
}


/* Notification dot on the top right corner of the menu icon */

#viewport .lt::after {
	border-color: #1e2127;
}

#chat .unread-marker::before {
	border-color: #FA7883;
	/* red with 98% brightness */
}

#chat .unread-marker-text::before {
	background-color: #1e2127;
	color: #FA7883;
	/* red with 98% brightness */
}

#chat .date-marker::before {
	border-color: #98c739;
	/* green with 88% brightness */
}

#chat .date-marker-text::before {
	background-color: #1e2127;
	color: #98c739;
	/* green with 88% brightness */
}


/* Setup text colors */

#chat .msg {
	color: #abb2bf;
}

#chat .message {
	color: #abb2bf;
}

#chat .self .text {
	color: #C3CBD9;
	/* fg color, brightness to 85% */
}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from,
#chat .channel .highlight .text {
	color: #B8875A;
	/* orange with 72% brightness */
}

#chat .unhandled .from {
	color: #aaa;
}

#chat .msg.quit .time,
#chat .msg.quit .from button {
	color: #bc6c9c !important;
}

#chat .msg.topic {
	color: #abb2bf;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #56b6c2 !important;
}

#chat table.channel-list td {
	color: #ccc;
}


/* Previews */

#chat .toggle-content {
	background: #1e2127;
	color: #abb2bf;
}

#chat .toggle-content .body {
	color: #5c6370;
}


/* Form elements */

#chat-container ::-moz-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

#chat-container ::-webkit-input-placeholder {
	color: rgba(170, 177, 191, 0.6);
}

#chat-container :-ms-input-placeholder {
	color: rgba(170, 177, 191, 0.6);
}


/* End form elements */

@media (min-width: 480px) {
	#chat .from::after {
		background: linear-gradient(to right, rgba(30, 33, 39, 0.5) 0%, rgba(30, 33, 39, 1) 100%);
	}
}


/* Modifications */


/* correct color for icons */

#chat .invite .from::before,
#chat .topic .from::before,
#chat .mode .from::before,
#chat .whois .from::before,
#chat .nick .from::before,
#chat .join .from::before {
	color: #98c739;
}

#chat .quit .from::before,
#chat .part .from::before,
#chat .kick .from::before {
	color: #E06C75;
}


/* Condensed status messages */

#chat .condensed .content,
#chat .away .content,
#chat .back .content,
#chat .join .content,
#chat .kick .content,
#chat .mode .content,
#chat .nick .content,
#chat .part .content,
#chat .quit .content,
#chat .topic .content,
#chat .topic_set_by .content {
	color: #808897;
}


/* Actions */

#chat .action .from,
#chat .action .text,
#chat .action .user {
	color: #B8875A;
}


/* Notices */

#chat .notice .time,
#chat .notice .text,
#chat .chan .notice .user {
	color: #d4666f !important;
}

#chat .notice .user::before {
	color: #5c6370;
	opacity: .3;
	content: "\2013";
}

#chat .notice .user::after {
	color: #5c6370;
	opacity: .3;
	content: "\2013";
}


/* Context Menu */

#context-menu,
.textcomplete-menu {
	background-color: #1a1c21;
}

.context-menu-item:hover,
.textcomplete-item:hover,
.textcomplete-menu .active {
	background-color: #1e2127;
	color: #98c739 !important;
}

.textcomplete-menu .active a {
	color: #98c739;
}

.context-menu-item,
.textcomplete-item,
.textcomplete-item a {
	color: #abb2bf;
}


/* Scrollbar */

::-webkit-scrollbar {
	background-color: rgba(20, 22, 26, 0);
}

::-webkit-scrollbar:hover {
	background-color: rgba(20, 22, 26, 0.3);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(20, 22, 26, 0.5);
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(20, 22, 26, 0.6);
}


/* Font size */

.messages .msg {
	font-size: 13px;
}


/* Extended MIRC color formatting */


/* Red */

.irc-fg16 {
	color: #602F32;
}

.irc-fg28 {
	color: #A04D54;
}

.irc-fg40 {
	color: #C66068;
}

.irc-fg52 {
	color: #E06C75;
}

.irc-fg64 {
	color: #ED727C;
}

.irc-fg76 {
	color: #FF7A85;
}


/* Orange */

.irc-fg17 {
	color: #513C28;
}

.irc-fg29 {
	color: #916B47;
}

.irc-fg41 {
	color: #B7875A;
}

.irc-fg53 {
	color: #D19A66;
}

.irc-fg65 {
	color: #DEA36C;
}

.irc-fg77 {
	color: #FFBC7D;
}


/* Yellow */

.irc-fg18 {
	color: #514928;
}

.irc-fg30 {
	color: #918347;
}

.irc-fg42 {
	color: #B7A55A;
}

.irc-fg54 {
	color: #D1BC66;
}

.irc-fg66 {
	color: #DEC76C;
}

.irc-fg78 {
	color: #FFE57D;
}


/* Yellowish green */

.irc-fg19 {
	color: #495128;
}

.irc-fg31 {
	color: #839147;
}

.irc-fg43 {
	color: #A5B75A;
}

.irc-fg55 {
	color: #BCD166;
}

.irc-fg67 {
	color: #C7DE6C;
}

.irc-fg79 {
	color: #E5FF7D;
}


/* Green */

.irc-fg20 {
	color: #35432A;
}

.irc-fg32 {
	color: #668351;
}

.irc-fg44 {
	color: #84A969;
}

.irc-fg56 {
	color: #98C379;
}

.irc-fg68 {
	color: #A2D081;
}

.irc-fg80 {
	color: #BFF598;
}


/* Blueish green */

.irc-fg21 {
	color: #294234;
}

.irc-fg33 {
	color: #518267;
}

.irc-fg45 {
	color: #68A885;
}

.irc-fg57 {
	color: #78C299;
}

.irc-fg69 {
	color: #80CFA3;
}

.irc-fg81 {
	color: #98F5C2;
}


/* Cyan */

.irc-fg22 {
	color: #1D3E42;
}

.irc-fg34 {
	color: #397A82;
}

.irc-fg46 {
	color: #4A9DA8;
}

.irc-fg58 {
	color: #55B5C2;
}

.irc-fg70 {
	color: #5BC1CF;
}

.irc-fg82 {
	color: #6CE5F5;
}


/* Light blue */

.irc-fg23 {
	color: #26435B;
}

.irc-fg35 {
	color: #40729B;
}

.irc-fg47 {
	color: #508EC1;
}

.irc-fg59 {
	color: #5AA1DB;
}

.irc-fg71 {
	color: #5FAAE8;
}

.irc-fg83 {
	color: #69BCFF;
}


/* Blue */

.irc-fg24 {
	color: #1B3142;
}

.irc-fg36 {
	color: #355F82;
}

.irc-fg48 {
	color: #457BA8;
}

.irc-fg60 {
	color: #4F8EC2;
}

.irc-fg72 {
	color: #5497CF;
}

.irc-fg84 {
	color: #64B4F5;
}


/* Blue */

.irc-fg24 {
	color: #1B3142;
}

.irc-fg36 {
	color: #355F82;
}

.irc-fg48 {
	color: #457BA8;
}

.irc-fg60 {
	color: #4F8EC2;
}

.irc-fg72 {
	color: #5497CF;
}

.irc-fg84 {
	color: #64B4F5;
}


/* Blueish purple */

.irc-fg25 {
	color: #1F1B42;
}

.irc-fg37 {
	color: #3C3582;
}

.irc-fg49 {
	color: #4E45A8;
}

.irc-fg61 {
	color: #5A4FC2;
}

.irc-fg73 {
	color: #6054CF;
}

.irc-fg85 {
	color: #7364F5;
}


/* Pink */

.irc-fg26 {
	color: #401B42;
}

.irc-fg38 {
	color: #7E3582;
}

.irc-fg50 {
	color: #A245A8;
}

.irc-fg62 {
	color: #BB4FC2;
}

.irc-fg74 {
	color: #C754CF;
}

.irc-fg86 {
	color: #EB64F5;
}


/* Magenta */

.irc-fg27 {
	color: #5D334E;
}

.irc-fg39 {
	color: #9D5583;
}

.irc-fg51 {
	color: #C36AA3;
}

.irc-fg63 {
	color: #DD78B8;
}

.irc-fg75 {
	color: #EA7FC3;
}

.irc-fg87 {
	color: #FF8AD4;
}


/* White/Black */

.irc-fg88 {
	color: #000;
}

.irc-fg89 {
	color: #0E0F12;
}

.irc-fg90 {
	color: #202329;
}

.irc-fg91 {
	color: #2A2E36;
}

.irc-fg92 {
	color: #3C414C;
}

.irc-fg93 {
	color: #515866;
}

.irc-fg94 {
	color: #656F82;
}

.irc-fg95 {
	color: #7B879E;
}

.irc-fg96 {
	color: #93A1BD;
}

.irc-fg97 {
	color: #B1C2E3;
}

.irc-fg98 {
	color: #fff;
}


/* Red */

.irc-bg16 {
	background-color: #602F32;
}

.irc-bg28 {
	background-color: #A04D54;
}

.irc-bg40 {
	background-color: #C66068;
}

.irc-bg52 {
	background-color: #E06C75;
}

.irc-bg64 {
	background-color: #ED727C;
}

.irc-bg76 {
	background-color: #FF7A85;
}


/* Orange */

.irc-bg17 {
	background-color: #513C28;
}

.irc-bg29 {
	background-color: #916B47;
}

.irc-bg41 {
	background-color: #B7875A;
}

.irc-bg53 {
	background-color: #D19A66;
}

.irc-bg65 {
	background-color: #DEA36C;
}

.irc-bg77 {
	background-color: #FFBC7D;
}


/* Yellow */

.irc-bg18 {
	background-color: #514928;
}

.irc-bg30 {
	background-color: #918347;
}

.irc-bg42 {
	background-color: #B7A55A;
}

.irc-bg54 {
	background-color: #D1BC66;
}

.irc-bg66 {
	background-color: #DEC76C;
}

.irc-bg78 {
	background-color: #FFE57D;
}


/* Yellowish green */

.irc-bg19 {
	background-color: #495128;
}

.irc-bg31 {
	background-color: #839147;
}

.irc-bg43 {
	background-color: #A5B75A;
}

.irc-bg55 {
	background-color: #BCD166;
}

.irc-bg67 {
	background-color: #C7DE6C;
}

.irc-bg79 {
	background-color: #E5FF7D;
}


/* Green */

.irc-bg20 {
	background-color: #35432A;
}

.irc-bg32 {
	background-color: #668351;
}

.irc-bg44 {
	background-color: #84A969;
}

.irc-bg56 {
	background-color: #98C379;
}

.irc-bg68 {
	background-color: #A2D081;
}

.irc-bg80 {
	background-color: #BFF598;
}


/* Blueish green */

.irc-bg21 {
	background-color: #294234;
}

.irc-bg33 {
	background-color: #518267;
}

.irc-bg45 {
	background-color: #68A885;
}

.irc-bg57 {
	background-color: #78C299;
}

.irc-bg69 {
	background-color: #80CFA3;
}

.irc-bg81 {
	background-color: #98F5C2;
}


/* Cyan */

.irc-bg22 {
	background-color: #1D3E42;
}

.irc-bg34 {
	background-color: #397A82;
}

.irc-bg46 {
	background-color: #4A9DA8;
}

.irc-bg58 {
	background-color: #55B5C2;
}

.irc-bg70 {
	background-color: #5BC1CF;
}

.irc-bg82 {
	background-color: #6CE5F5;
}


/* Light blue */

.irc-bg23 {
	background-color: #26435B;
}

.irc-bg35 {
	background-color: #40729B;
}

.irc-bg47 {
	background-color: #508EC1;
}

.irc-bg59 {
	background-color: #5AA1DB;
}

.irc-bg71 {
	background-color: #5FAAE8;
}

.irc-bg83 {
	background-color: #69BCFF;
}


/* Blue */

.irc-bg24 {
	background-color: #1B3142;
}

.irc-bg36 {
	background-color: #355F82;
}

.irc-bg48 {
	background-color: #457BA8;
}

.irc-bg60 {
	background-color: #4F8EC2;
}

.irc-bg72 {
	background-color: #5497CF;
}

.irc-bg84 {
	background-color: #64B4F5;
}


/* Blue */

.irc-bg24 {
	background-color: #1B3142;
}

.irc-bg36 {
	background-color: #355F82;
}

.irc-bg48 {
	background-color: #457BA8;
}

.irc-bg60 {
	background-color: #4F8EC2;
}

.irc-bg72 {
	background-color: #5497CF;
}

.irc-bg84 {
	background-color: #64B4F5;
}


/* Blueish purple */

.irc-bg25 {
	background-color: #1F1B42;
}

.irc-bg37 {
	background-color: #3C3582;
}

.irc-bg49 {
	background-color: #4E45A8;
}

.irc-bg61 {
	background-color: #5A4FC2;
}

.irc-bg73 {
	background-color: #6054CF;
}

.irc-bg85 {
	background-color: #7364F5;
}


/* Pink */

.irc-bg26 {
	background-color: #401B42;
}

.irc-bg38 {
	background-color: #7E3582;
}

.irc-bg50 {
	background-color: #A245A8;
}

.irc-bg62 {
	background-color: #BB4FC2;
}

.irc-bg74 {
	background-color: #C754CF;
}

.irc-bg86 {
	background-color: #EB64F5;
}


/* Magenta */

.irc-bg27 {
	background-color: #5D334E;
}

.irc-bg39 {
	background-color: #9D5583;
}

.irc-bg51 {
	background-color: #C36AA3;
}

.irc-bg63 {
	background-color: #DD78B8;
}

.irc-bg75 {
	background-color: #EA7FC3;
}

.irc-bg87 {
	background-color: #FF8AD4;
}


/* White/Black */

.irc-bg88 {
	background-color: #000;
}

.irc-bg89 {
	background-color: #0E0F12;
}

.irc-bg90 {
	background-color: #202329;
}

.irc-bg91 {
	background-color: #2A2E36;
}

.irc-bg92 {
	background-color: #3C414C;
}

.irc-bg93 {
	background-color: #515866;
}

.irc-bg94 {
	background-color: #656F82;
}

.irc-bg95 {
	background-color: #7B879E;
}

.irc-bg96 {
	background-color: #93A1BD;
}

.irc-bg97 {
	background-color: #B1C2E3;
}

.irc-bg98 {
	background-color: #fff;
}


/* Correct alignment for sidebar icons */

#sidebar .chan::before,
#sidebar .close::before {
	vertical-align: middle;
}

#sidebar .chan:first-child::before {
	line-height: 24px;
}


/* Adjust form input size */

#form #input {
	min-height: 18px;
	height: 18px;
}